@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}
p,h1,h2,h3,h4,h5,h6,span,.btn{
  font-family: 'Nunito Sans', sans-serif ;
}
.website_font {
  font-family: 'Nunito Sans', sans-serif ;
}
.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
.post_image {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.margin_bottom {
  margin-bottom: 10px;
}
.cpy {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.p_img {
  width: 100%;
}
.margin_top {
margin-top: 16px;
}

.tagline_spacing {
  padding-top: 36px;
  margin-top: 36px;
}
.title_color {
  color: rgb(47, 167, 47);
  font-weight: bold;
}
.utilities_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.summarize {
  background-color: rgb(194, 194, 194)  ;
  padding: 16px;
  border-radius: 12px;
  color: black;
  display: none;
}

.summaryContent {
  margin: 16px;
}

.listen_audio {
  margin-top: 16px;
}

@media screen and (max-width:600px) {
    .utilities_div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .summarize {
      margin-top: 10px;
    }

}
.height_class {
  height: 100vh;
}